@model IEnumerable<ccar.Models.TypeOfActionModel>
@{
    ViewBag.Title = "ToAlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<div class="container movedLeft">
    <div class="row">
        <div class="col-md-8">
            <h2>Type of action list</h2>
            <p>
                <button  class="btn btn-outline-primary addBtn" onclick="location.href='@Url.Action("Create", "typeOfAction")'"><i class="fa fa-plus-square"></i> Add type of action</button>
            </p>
            <table class="table">
                <tr>
                    <th>
                        Type of action
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeOfAction1)
                        </td>
                        <td>
                            <button id="edit" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit", "typeOfAction", new { id = item.id })'"><i class="fa fa-edit"></i>   Edit</button>
                            <button id="delete" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Delete", "typeOfAction", new { id = item.id })'"><i class="fa fa-trash"></i>   Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a href="@Url.Action("Index", "Action")" class="nav-link">Back to CCAR</a>

        </div>
    </div>
</div>
