
@model ccar.Models.PasswordResetModel
@{
    Layout = null;
    ViewBag.Title = "GuidInput";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body id="particles-js">
    <div class="container text-center" id="main" style="margin-top:200px; width:1000px; ">

        @Html.AntiForgeryToken()
        <!--Rejestracja-->
        @using (Html.BeginForm("GuidInput2", "Login", FormMethod.Post))
        {
            <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Set new password</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">  @Html.ActionLink("Log in", "Logowanie", "Login")  </div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>

                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <!--email-->
                                    <div style="margin-bottom: 5px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.EditorFor(model => model.adresEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="email" placeholder="Wpisz email">*@
                                    </div>
                                    <!--guid-->
                                    <div style="margin-bottom: 5px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                        @Html.EditorFor(model => model.guid, new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Paste code from email..." } })

                                    </div>
                                    <div class="validatorsCss">
                                        @Html.ValidationMessageFor(model => model.guid, "", new { @class = "text-danger" })
                                    </div>

                                    
                                </div>
                                <div class="col-lg-1"></div>

                            </div>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <!-- Button -->
                                            <input id="btn-login" type="submit" value="Next" class="btn btn-info" formmethod="post" )" />                                   
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            

                            <div style="float:right; position:center; background-size:cover; width:70px; height:70px; background-image: url(../../images/0.png)"></div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>





    <script src="~/Scripts/particles.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</body>

</html>