@model ccar.Models.Login

@{
    ViewBag.Title = "Logowanie";
}

<h2>Logowanie</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logowanie</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body id="particles-js">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!--Logowanie-->
        <div class="container text-center" id="main" style="margin-top:200px; width:800px; ">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align:center">Zaloguj się</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#" onClick="$('#loginbox').hide(); $('#forgetPassBox').show()">Zapomniałeś hasło?</a></div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" class="form-horizontal" role="form">

                            <!--login-->
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.Editor("login", new { htmlAttributes = new { @class = "form-control", @id = "login-username", @type = "text", @name = "username", @value = "", @placeholder = "Wpisz login..." } })

                            </div>


                            <!--password-->
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.Editor("password", new { htmlAttributes = new { @class = "form-control", @id = "login-password", @type = "password", @name = "password", @value = "", @placeholder = "Wpisz hasło..." } })

                            </div>

                            <!--2705-->
                            <!-- Button Login -->
                            <div style="margin-top:10px; align-content:center" class="form-group">

                                <div class="col-sm-12 controls">
                                    <input id="btn-login" type="submit" value="Create" class="btn btn-info" />
                                    @*<a id="btn-login" type="submit" value="Create" href="#" class="btn btn-info">Login  </a>*@
                                </div>
                            </div>

                            <!--Checkbox remember me-->
                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="zarejestrujSie">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Zarejestruj się!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div style="float:right; position:center; background-size:cover; width:70px; height:70px; background-image: url(../../images/0.png)"></div>
                        </form>
                    </div>
                </div>
            </div>



            <!--Rejestracja-->
            <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Rejestracja</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#forgetPassBox').hide(); $('#loginbox').show()">Zaloguj się</a></div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" placeholder="Wpisz email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-md-3 control-label">Imię</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="firstname" placeholder="Wpisz imię">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-md-3 control-label">Nazwisko</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lastname" placeholder="Wpisz nazwisko">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Hasło</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="passwd" placeholder="Wpisz hasło">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="icode" class="col-md-3 control-label">Powtórz hasło</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="icode" placeholder="Wpisz hasło ponownie">
                                </div>
                            </div>
                            <div class="form-group">

                                <!-- Button -->
                                <div class="col-md-offset-1 col-md-9">
                                    <button id="btn-signup" type="button" class="btn btn-info"> &nbsp Sign Up</button>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #999;" class="form-group"></div>
                            <div style="float:right; position:center; background-size:cover; width:70px; height:70px; background-image: url(../../images/0.png)"></div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Zapomnienie Hasła-->
            <div id="forgetPassBox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Rejestracja</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#forgetPassBox').hide(); $('#loginbox').show()">Zaloguj się</a></div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" placeholder="Wpisz swój email...">
                                </div>
                            </div>

                            <div class="form-group">

                                <!-- Button -->
                                <div class="col-md-offset-1 col-md-9">
                                    <button id="btn-signup" type="button" class="btn btn-info"> &nbsp Dalej</button>

                                </div>
                            </div>
                            <div style="border-top: 1px solid #999; padding:-10px;" class="form-group"></div>
                            <div style="float:right; position:center; padding:-20px;  background-size:cover; width:50px; height:50px; background-image: url(../../images/0.png)"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>



        @*<div class="form-horizontal">
                <h4>Login</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>*@
    }



    <script src="~/Scripts/particles.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</body>

</html>