@model IEnumerable<ccar.Models.ResponsibleModel>

@{
    ViewBag.Title = "ResponsibleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>


<div class="container">
    <div class="row">
        <div class="col-lg-10" style="margin-left:-210px;">
           
            
            <h2>Responsible list</h2>
            <p>
                @*@Html.ActionLink("Create New", "Create")*@
                <button  class="btn btn-outline-primary addBtn" onclick="location.href='@Url.Action("Create", "Responsible")'"><i class="fa fa-plus-square"></i> Add new user</button>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.Label("Firstname")
                    </th>
                    <th>
                        @Html.Label("Lastname")
                    </th>
                    <th>
                        @Html.Label("Email")
                    </th>

                    <th></th>
                </tr>
                @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
}
            </table>
        </div>
    </div>
</div>