@model IEnumerable<ccar.Models.MeetingMinutesUsersModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="form-group container" style="margin-left:200px; width:650px;">


    <div class="col-lg-12 text-center">
        <div class="row">

            <div class="col-md-5 mb-5 text-left">
                @Html.Label("Project", new { @class = "control-label" })
            </div>


            <div class="col-md-5 mb-5 text-center">
                @Html.DropDownList("Project type", ccar.Models.MeetingMinutesUsersModel.projectList, new { @class = "form-control" })
            </div>
        </div>
        </div>

    <div class="col-lg-12 text-center">
        @foreach (var item in Model)
        {

            <div class="row" style="margin-bottom:5px; margin-top:5px;">
                <div class="col-md-5 mb-5 text-left" >
                    @Html.DisplayFor(modelItem => item.name)
                </div>
                <div class="col-md-5 mb-5 text-center">
                    @Html.DropDownList("Status type", ccar.Models.MeetingMinutesUsersModel.attendanceStatusList, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>


</div>
