@model ccar.ModelsMM.MMViewModels.AddMeetingViewModel

@{
    /**/

    Layout = null;
}


@using (Html.BeginForm("AddOrEditMeeting", "Meeting", FormMethod.Post@*, new { onsubmit = "return SubmitForm(this)" }*@))
{
    @Html.HiddenFor(model => model.meeting.ProjectId)


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @id = "koko" })


    <div class="form-group container">

        <ul class="list-group" id="ItemList">


            @*@Html.Label("Project*", new { @class = "control-label" })
        @Html.ValidationMessageFor(model => model.meeting.ProjectId, null, new { @class = "koko" })
        @Html.DropDownListFor(model=>model.meeting.ProjectId, new SelectList(Model.projList, "id", "ProjectName"), new { @class = "form-control" })*@
            @*@foreach (var item in Model.userList)
        {
            <li class="list-group-item" style="margin:-10px">

                <div class="checkbox">
                    <input type="checkbox" id="Check_@item.id" />
                    <label for="Check_@item.id">@item.firstname @item.surname  </label>
                </div>

            </li>
        }*@

            @for (int i = 0; i < Model.userList.Count(); i++)
            {
                <li class="list-group-item" style="margin:-10px">

                    <div class="checkbox">
                        @Html.CheckBox("Person["+i+"]")
                        @Html.Hidden("PersonId["+i+"]",Model.userList[i].id)
                        @Html.Label(Model.userList[i].firstname+ " "+ Model.userList[i].surname)
                    </div>

                </li>
            }
        </ul>

        @*<div class="col-md-3 mb-3" style="margin-left:-20px;">
                @Html.Label("Add new user", new { @class = "control-label" })
                <button type="button" class="btn btn-default" style="display:block; background-color:indianred" onclick="location.href='@Url.Action("UsersList", "MeetingMinutesUser")'"> <span class="glyphicon glyphicon-edit" style="color:white; background-color:indianred" aria-hidden="true"></span></button>
            </div>*@

    </div>



    <div class="form-group container">
        <div class="row">
            <div class="col-md-12 mb-12 text-center">
                <input type="submit" value="Submit" onclick="SaveList()" class="btn btn-success" style="width:250px; height:40px" />
                <input type="reset" value="Reset" class="btn btn-danger" style="width:250px; height:40px" />
            </div>
        </div>
    </div>

    <div class="form-group container">
        <div class="row">
            <div class="col-md-5 mb-5 text-center">
            </div>
            <div class="col-md-5 mb-5 text-center">
            </div>
            <div class="col-md-2 mb-2 text-center">
                <span style="color:red; font-style:oblique;">* Required</span>
            </div>


        </div>
    </div>

    <script>
        var SaveList = function () {

            var arrItem = [];
            var commaSpareatedIds = "";

            $("#ItemList li input[type=checkbox]").each(function (index, val) {

               
                var checkId = $(val).attr("Id");
                var arr = checkId.split('_');
                var currentCheckboxId = arr[1];
                var IsChecked = $("#" + checkId).is(":checked", true);

                if (IsChecked) {

                    arrItem.push(currentCheckboxId);
                }


            })
            if (arrItem.lenght != 0) {
                commaSpareatedIds = arrItem.toString();

                $.ajax({
                    url: "/Meeting/SaveList",
                    type: "POST",
                    data: { ItemList: commaSpareatedIds },
                    success: function (response) {

                    }


                })


            }
        }
    </script>
}

