@model ccar.ModelsMM.MeetingUsersModel


@{
    /**/

    Layout = null;
}

<div>
    <h4>MeetingUsersModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.meetingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPresent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
