@model ccar.Models.ActionMeetingsModel

@{
    /**/

    Layout = null;
}
<script src="~/Scripts/MyScripts/meetingAdd.js"></script>
<script src="~/Scripts/MyScripts/selector.js"></script>
<script src="~/Scripts/MyScripts/personAdd.js"></script>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@




@*<script>
    $(document).ready(function () {

        $('#btnAdd').click(function (e) {

            var selected = [];
            $.each($(".addMeeting option:selected"), function () {
                selected.push($(this).val());
            });

            $.ajax({
                url: '@Url.Action("GetRowOfUsers")',
                data: { wybrane: selected},
                async: false,
                type: "GET",
                traditional: true,
            }).done(function (res) {
                $('#responseContent').append("<tr><td>" + res + "</td></tr>")
            });
        })

        $('#btnRemove').click(function () {
            $("#kespa").find('select[name="AttendanceIds"]:last').each(function () {

                $(this).parents("td").remove()

            });
        });

    });

      


</script>*@

@using (Html.BeginForm("AddOrEdit", "ActionMeetings", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    @Html.HiddenFor(model => model.id)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @id = "koko" })


    <div class="form-group container" style="width:500px;">

        <table id="kespa">
            <thead>Attendance list</thead>
            <tbody id="responseContent"></tbody>
        </table>



        <button type="button" class="btn btn-success" id="btnAdd"> <i class="fa fa-user-plus"></i> Add user</button>
        <button type="button" class="btn btn-danger" id="btnRemove"> <i class="fa fa-user-times"></i> Add user</button>


        @*<div class="row">
                <div class="col-md-6 column">
                    <table class="table" id="tableToModify">
                        <tbody>
                            <tr id="rowToClone">
                                <td>

                                    @Html.DropDownListFor(model => model.user, new SelectList(ccar.Models.UserModel.getUsersList().OrderBy(x => x.id), "Name", "Name", "id"), new { @class = "koza form-control" })

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <a id="add_row" class="btn btn-default pull-left">Add Row</a>
                <a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
            </div>*@




        <div class="row">
            <div class="col-md-8 mb-8">
                @Html.Label("Reason*", new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.reason, null, new { @class = "koko" })
                @*@{
                    var listTempReason = (ccar.Models.ReasonModel.GetReasonList());
                    listTempReason.Add(new ccar.Models.ReasonModel() { id = 0, reason = null });
                        }*@
                @*@Html.DropDownListFor(model => model.reason, new SelectList(listTempReason, "reason", "reason"), new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.reason, new SelectList(ccar.Models.ReasonModel.GetReasonList().OrderBy(x => x.id), "reason", "reason", "id"), new { @class = "form-control", @id = "filter" })

            </div>
            @*<div class="col-md-1 mb-1" style="margin-left:-20px;">
                    @Html.Label("More", new { @class = "control-label" })
                    <button type="button" class="btn btn-default" style="display:block; background-color:indianred" onclick="location.href='@Url.Action("ReasonList", "Reason")'"> <span class="glyphicon glyphicon-edit" style="color:white; background-color:indianred" aria-hidden="true"></span></button>
                </div>*@
        </div>
        <div class="row">

            @*<div class="col-md-4 mb-4">
                    @Html.Label("Attendance list", new { @class = "control-label" })
                    @Html.ValidationMessageFor(model => model.attendanceList, null, new { @class = "koko" })
                    @Html.TextAreaFor(model => model.attendanceList, 10, 40, new { htmlAttributes = new { @class = "form-control" } })

                </div>*@
        </div>



        <div class="form-group container" style="width:500px;">
            <div class="row">
                <div class="col-md-2 mb-2 text-center">
                    <input type="submit" value="Submit" class="btn btn-success" id="fire" style="width:100px; height:40px" />

                </div>
                <div class="col-md-1 mb-1 text-center">


                </div>
                <div class="col-md-2 mb-2 text-center">

                    <input type="reset" value="Reset" class="btn btn-danger" style="width:100px; height:40px" />
                </div>
            </div>
        </div>

    </div>


}

