@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">

    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-60 pb-5">
            <div class="card">
                <div class="box-shadow bg-white mx-auto text-center rounded-circle ;" id="circle1st"></div>

                <div class="card-body text-center">
                    <h3 class="card-title pt-1">T7</h3>
                    <p class="card-text text-sm shortDesc">Front, slide, rear - VW T7 project. </p><span class="text-sm text-uppercase font-weight-bold">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            MORE
                        </a>
                    </span>
                </div>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body justify-content-center text-center" style="margin:0 auto; display:block;">

                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "ActionMeetings", new { id = ccar.Models.ReasonModel.getIdOfReason("T7") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:deepskyblue; border-color:deepskyblue">
                                <i class="fa fa-plus"></i> ADD MEETING
                            </a>

                        </div>
                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "Action", new { id = ccar.Models.ReasonModel.getIdOfReason("T7") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:forestgreen; border-color:forestgreen">
                                <i class="fa fa-plus"></i> ADD ACTIONS
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-60 pb-5">
            <div class="card">
                <div class="box-shadow bg-white  mx-auto text-center rounded-circle " id="circle2nd"></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">T6PA</h3>
                    <p class="card-text text-sm shortDesc">Front door panels - VW T7 project. </p><span class="text-sm text-uppercase font-weight-bold">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            MORE
                        </a>
                    </span>
                </div>

                <div class="collapse" id="collapseExample1">
                    <div class="card card-body justify-content-center text-center" style="margin:0 auto; display:block;">

                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "ActionMeetings", new { id = ccar.Models.ReasonModel.getIdOfReason("T6PA") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:deepskyblue; border-color:deepskyblue">
                                <i class="fa fa-plus"></i> ADD MEETING
                            </a>

                        </div>
                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "Action", new { id = ccar.Models.ReasonModel.getIdOfReason("T6PA") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:forestgreen; border-color:forestgreen">
                                <i class="fa fa-plus"></i> ADD ACTIONS
                            </a>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-60 pb-5">
            <div class="card">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" id="circle4th"></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">SK38X</h3>
                    <p class="card-text text-sm shortDesc">A-pillar, B-pillar, C-pillar-limo, C-pillar-kombi, D-pillar </p><span class="text-sm text-uppercase font-weight-bold">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            MORE
                        </a>
                    </span>
                </div>

                <div class="collapse" id="collapseExample3">
                    <div class="card card-body justify-content-center text-center" style="margin:0 auto; display:block;">

                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "ActionMeetings", new { id = ccar.Models.ReasonModel.getIdOfReason("SK38X") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:deepskyblue; border-color:deepskyblue">
                                <i class="fa fa-plus"></i> ADD MEETING
                            </a>

                        </div>
                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "Action", new { id = ccar.Models.ReasonModel.getIdOfReason("SK38X") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:forestgreen; border-color:forestgreen">
                                <i class="fa fa-plus"></i> ADD ACTIONS
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-60 pb-5">
            <div class="card">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" id="circle5th"></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">V620D</h3>
                    <p class="card-text text-sm shortDesc">Trunk load floor supply </p><span class="text-sm text-uppercase font-weight-bold">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            MORE
                        </a>
                    </span>
                </div>

                <div class="collapse" id="collapseExample4">
                    <div class="card card-body justify-content-center text-center" style="margin:0 auto; display:block;">

                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "ActionMeetings", new { id = ccar.Models.ReasonModel.getIdOfReason("V620D") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:deepskyblue; border-color:deepskyblue">
                                <i class="fa fa-plus"></i> ADD MEETING
                            </a>
                        </div>
                        <div style="display:inline-block; max-width:140px;">
                            <a class="btn btn-primary" data-toggle="collapse" onclick="location.href='@Url.Action("General", "Action", new { id = ccar.Models.ReasonModel.getIdOfReason("V620D") })'" role="button" aria-expanded="false" aria-controls="collapseExample" style="display:block; color:white; background-color:forestgreen; border-color:forestgreen">
                                <i class="fa fa-plus"></i> ADD ACTIONS
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

