@model ccar.Models.ActionModel

@{
    /**/

    Layout = null;
}


<table cellpadding="1" cellspacing="0" border="0" style="padding-left:50px;font-size:13px; padding:0px;">
    <tr>
        <td>Problem details</td>
        <td>@Html.DisplayFor(model => model.problemLong)</td>
    </tr>
    <tr>
        <td>Type of action</td>
        <td>@Html.DisplayFor(model => model.TypeOfAction)</td>
    </tr>
    <tr>
        <td>Root cause</td>
        <td>@Html.DisplayFor(model => model.rootCause)</td>
    </tr>
    <tr>
        <td>Corrective action</td>
        <td>@Html.DisplayFor(model => model.correctiveAction)</td>
    </tr>
    <tr>
        <td>Measure efficiency</td>
        <td>@Html.DisplayFor(model => model.measureEffic)</td>
    </tr>
    <tr>
        <td>Date of efficiency</td>
        <td>@Html.DisplayFor(model => model.dateOfEffic)</td>
    </tr>
    <tr>
        <td>Date of efficiency</td>
        <td>@Html.DisplayFor(model => model.AttendanceList)</td>
    </tr>
</table>


