@model ccar.Models.ActionModel


    <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
        <tr>
            <td>@Html.DisplayNameFor(model => model.idTypeOfAction)</td>
            <td>@Html.DisplayFor(model => model.idTypeOfAction)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.rootCause)</td>
            <td>@Html.DisplayFor(model => model.rootCause)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.correctiveAction)</td>
            <td>@Html.DisplayFor(model => model.correctiveAction)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.measureEffic)</td>
            <td>@Html.DisplayFor(model => model.measureEffic)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.dateOfEffic)</td>
            <td>@Html.DisplayFor(model => model.dateOfEffic)</td>
        </tr>
    </table>






