@model ccar.Models.ReasonModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container movedLeft">
    <div class="row">
        <div class="col-md-8">
            <h2>Edit</h2>
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="row">
              
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group">
                        @Html.Label(" Reason to edit:", new { @class = "control-label" })
                        @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn btn-default submitEdit" />
            </div>
           <hr/>
        <div class="row">
            <div class="form-group">
                @Html.ActionLink("Back to List", "ReasonList")
            </div>
        </div>
}
        </div>
    </div>
</div>